body {
  margin: 0;
}

.contenido1, .contenido2, .contenido3, .contenido4,.contenido5, .contenido6 {
  box-sizing: border-box;
}

.amarillo {
  background-color: #ffff00;
  margin-bottom: 1em;
  height: 100px;
  width: 7.98%;
  display: inline-block;
}

.verde {
  background-color: #afff00;
  margin-bottom: 1em;
  height: 100px;
  width: 16.35%;
  display: inline-block;
}

.cian {
  background-color: #1ee2a6;
  margin-bottom: 1em;
  height: 100px;
  width: 24.75%;
  display: inline-block;

}

.azul {
  background-color: #01b6ad;
  margin-bottom: 1em;
  height: 100px;
  width: 32.97%;
  display: inline-block;

}

.morado {
  background-color: #9c42d1;
  margin-bottom: 1em;
  height: 100px;
  width: 49.80%;
  display: inline-block;

}

.rosa {
  background-color: #cd27a6;
  margin-bottom: 1em;
  height: 100px;
  width: 100%;
  display: inline-block;
}
